.spinner {
  @extend .icon--hex--logo;
  @extend .absolute--center;
  width:48px;
  height:48px;

  &--pulse {
    animation: spinnerPulse 1.2s infinite linear;
    transform: transformZ(0);
    transform-origin: center;
  }

  &--static {
    animation: spinnerPulse 1.2s infinite linear;
    transform: transformZ(0);
    transform-origin: center;
  }
}

// body >
.spinner {
  width:36px;
  height:36px;
}

@keyframes spinnerPulse {
  // 0% { opacity:0 }
  // 25% { opacity:1 }
  // 50% { opacity:1 }
  // 75% { opacity:0 }
  // 100% { opacity:0 }

  0% { opacity:0 }
  50% { opacity:1 }
  100% { opacity:0 }
}

@keyframes spinnerPulseLight {
  0% { opacity:0.2 }
  50% { opacity:1 }
  100% { opacity:0.2 }
}
