.hexagons,
.hexagons__parallax {
  @extend .absolute--fill;
}

.hexagons {
  overflow:hidden;
}

.hexagons .hex {
  visibility:hidden;
  position:absolute;
  background-image:url('../assets/svg/hex-logo.svg?');
  mix-blend-mode: overlay;
  background-size:contain;
  background-repeat:no-repeat;
  width:450px;
  height:450px;
  transition:all 0.6s ease-out;
  // opacity:0.3;
}

.hexagons--overlay .hex {
  mix-blend-mode: overlay;
}

.hexagons--white .hex {
  background-image:url('../assets/svg/hex-logo.svg?fill=white');
  mix-blend-mode:initial;
  opacity:0.2;
}

.hexagons .hex:after {

}

.hexagons.start-position .hex {

  &__01 {
    transform:translate(-150px, -150px);
  }

  &__02 {
    transform:translate(-150px, 150px);
  }
}

.hexagons.idle .hex {
  visibility: visible;

  &__01 {
    top:-334px;
    right:-180px;
    transform:translate(0, 0);
  }

  &__02 {
    bottom:-290px;
    left:-150px;
    transform:translate(0, 0);
  }
}
