.hexagons {
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

.hexagons .hex {
  position:absolute;
  background-image:url('../assets/svg/hex-logo.svg?fill=black');
  mix-blend-mode: overlay;
  background-size:contain;
  background-repeat:no-repeat;
  width:450px;
  height:450px;
  // opacity:0.15;

  &__01 {
    top:-334px;
    right:-180px;
    transform:translate(0, 0);
  }

  &__02 {
    bottom:-170px;
    left:-70px;
    transform:translate(0, 0);
  }
}
