.template--home {
  padding:0;

  .parallax-scene {
    // isolation: isolate;
    @extend .element-full;
    &__item {
      @extend .element-full;
      &__inner {
        @extend .element-full;
        transform:scale(1.1);
      }
    }
  }

  &__image {
    @extend .element-full;
  }

  .content {
    transition:0.6s 0.8s all ease-out;
    opacity:1;
    transform: translate3d(0, 0, 0);

    .icon-logo {
      margin-right: 5px;
      margin-top:8px;
    }

    @media (orientation: portrait){
      max-width:220px;
      .subtitle {
        max-width:162px;
      }
    }

    @media (orientation: landscape){
      display:flex;
      .subtitle { text-align: center;}
    }

    @media(min-width: $tablet) {
      padding-top:70px;
    }
  }

  &.loading .content {
    opacity:0;
    transform:translate3d(0, 2px, 0);
  }

  .nav {
    // mix-blend-mode:overlay;
    // position:absolute;
    // top:0;
    // left:0;
  }

  .nav__btn {
    position:absolute;
    transition:all 0.6s ease-out;

    &--about {
      bottom:$gutter / 2;
      left:50%;
      transform:translate(-50%, 0);
    }

    &--projects {
      position:absolute;
      right:0;
      top:50%;
      transform:translate(0, -50%);

      @media (max-width: $tablet) and (orientation: portrait) {
        top:auto;
        bottom:25vw;
      }
    }
  }

  &.loading .nav__btn {
    &--about { transform:translate(-50%, 250px); }
    &--projects { transform:translate(250px, -50%); }
  }
}
