.home {

  &__hex {
    @extend .icon;
    @extend .icon--hexFill--white;
    position:absolute;
    top: -1110px;
    left: -1140px;
    width: 1700px;
    height: 1700px;
    opacity: 0.5;
    mix-blend-mode: overlay;

    @media (orientation:landscape) {
      top: -1410px;
      left: -660px;
    }
  }

  .layer--hex {
    mix-blend-mode: overlay;
  }

  .parallax-scene {
    @extend .absolute--fill;
    &__item {
      @extend .absolute--fill;
      &__inner {
        @extend .absolute--fill;
        transform:scale(1.1);
      }
    }
  }

  &__image {
    @extend .absolute--fill;
  }

  &__content {
    @include gridCol(12);
    padding:$gutter;

    transition:.6s .6s all $easeOutQuad;
    opacity:1;
    transform: translate3d(0, 0, 0);

    .icon--hex--logo {
      margin-right: 5px;
      margin-top:8px;
    }

    @media (orientation: portrait){
      max-width:220px;
      .subtitle {
        max-width:162px;
      }
    }

    @media (orientation: landscape){
      display:flex;
      .subtitle { text-align: center;}
    }

    @media(min-width: $tablet) {
      padding-top:70px;
    }
  }

  &.loading &__content {
    opacity:0;
    transform:translate3d(5px, 0, 0);
  }

  &__nav {
    @include gridCol(12);
  }

  &__nav__btn {

    &--about,
    &--projects {
      position:absolute;
      transition:all 2s .6s $easeOutExpo;
    }

    &--about {
      bottom:$gutter / 2;
      left:50%;
      transform:translate(-50%, 0) scale(1);
    }

    &--projects {
      position:absolute;
      right:$gutter;
      top:50%;
      transform:translate(0, -50%) scale(1);
      opacity:1;

      @media (max-width: $tablet) and (orientation: portrait) {
        top:auto;
        bottom:25vw;
      }
    }
  }

  &.loading &__nav__btn {
    &--about {
      // transform:translate(-50%, 250px);
      transform: translate(-50%, 0) scale(0.9);
      opacity:0;
    }
    &--projects {
      // transform:translate(250px, -50%);
      transform:translate(0, -50%) scale(0.9);
      opacity:0;
    }
  }
}
