.home {

  &__hex {
    @extend .icon;
    @extend .icon--hexFill--white;
    position:absolute;
    top: -1240px;
    left: -950px;
    width: 1700px;
    height: 1700px;
    opacity: 0.5;
    mix-blend-mode: overlay;

    @media (orientation:landscape) {
      top: -1410px;
      left: -500px;
    }

    @media (min-width: $tablet) {
      top: -1410px;
      left: -500px;
    }
  }

  .loading & {
    .home__hex {
      opacity:0;
    }
  }


  &__content {
    transition:.6s .6s all $easeOutQuad;
    opacity:1;
    transform: translate3d(0, 0, 0);

    display:flex;
    flex-wrap:wrap;

    .icon--hexLogo {
      width:55px;
      height:70px;
      margin-right: 8px;
      flex-shrink:0;
    }

    @media (orientation: portrait){
      max-width:220px;
    }

    @media (orientation: landscape){
      padding-top:$gutter;
      padding-left:$gutter;
    }

    @media(min-width: $tablet) {
      padding-top:70px;
      padding-left:0;
    }
  }

  .loading & {
    &__content {
      opacity:0;
      transform:translate3d(5px, 0, 0);
    }
  }

  &__nav__btn {

    &--about,
    &--projects {
      position:absolute;
    }

    &--about {
      bottom:$gutter / 2;
      left:50%;
      transform:translate(-50%, 0);
    }

    &--projects {
      position:absolute;
      right:$gutter;
      top:50%;
      transform:translate(0, -50%);

      @media (max-width: $tablet) and (orientation: portrait) {
        top:auto;
        bottom:25vw;
      }
    }
  }
}
