.template--project {

  

  &__main {
    flex:1;
    
    @media (max-width: $phablet - 1) {
      padding-top:$gutter + $headerDepth;
    }

    @media (min-width: $phablet) {
      display: flex;
      align-items: stretch;

       > .grid-container {
        display:flex;
        align-items: flex-start;
      } 
    }

   
  }

  &__nav {
    @include gridCol(12);
    @media (min-width: $phablet) {
      @include gridCol(6);
      padding-bottom:115px;
      align-self: center;
    }

    text-align:center;
    padding-bottom:115px;

    &__btn {
      @extend .button__container--xl;
      display:inline-block;
      margin:0 auto;
      margin-bottom:-115px;

      &:nth-child(odd) {
        transform:translate(-32%, 0);
      }

      &:nth-child(even) {
        transform:translate(32%, 0);
      }

      &:hover {
        z-index:10;
      }
    }
  }
}
