.button {
  display:inline-block;
  position:relative;
  vertical-align: middle;
  background:transparent;
  border:none;
  padding:0;
  outline:none;
  cursor:pointer;
  @include staggerDelay(hexButton);

  > .hexButton {
    @extend .transition--pop;
  }
}

.hexButton {
  @extend .icon;
  @extend .icon--hexFill--white;  
  
  position:relative;
  width:100px;
  height:118px;
  
  &--large {
    width:170px;
    height:196px;
  }

  &:before { // icon bg
    opacity:0.5;
  }

  display:flex;
  align-items: center;
  padding:$gutter / 2;

  &__text {
    position:relative;
    @extend .buttonText;
    max-width:50%;
    color:$black;
  }

  &__icon {
    @include absoluteCenter;
    overflow:hidden;
    text-indent: -999em;

    &.active {
      display:none;
    }
  }

  &__chevron {
    @extend .icon;
    position:absolute;
    transition:all 0.2s ease-out;

    &--right {
      @extend .hexButton__chevron;
      @extend .icon--chevron--right;
      
      top: 50%;
      right: 5px;
      transform:translate(0, -50%);
    }

    &--down {
      @extend .hexButton__chevron;
      @extend .icon--chevron--down;
      
      bottom: 12px;
      left: 50%;
      transform:translate(-50%, 0);
    }
  }

  // &--active,
  .active &, 
  a:hover &,
  button:hover & {
    
    &.hexButton {
      @extend .icon--hexFill;
      
      .hexButton__text {
        color: $white;
      }

      &:before {
        opacity:0.8;
      }
    }

    .hexButton__chevron {
      &--right {
        right:-($gutter);
      }

      &--down {
        bottom:-($gutter - 5px);
      }
    }

    .hexButton__icon {
      display:none;

      &.active {
        display:block;
      }
    }
  }
}

.iconButton {
  position:relative;
  display:block;
  // padding:14px;
  text-align: center;
  width:60px;
  height:60px;
  
  &__icon {
    @extend .icon;
    @include absoluteCenter;
    text-indent:-999em;
    width:30px;
    height:34px;
  }

  &__chevron {
    @extend .icon;
    position:absolute;
    transition:all 0.2s ease-out;
    width:16px;

    &--down {
      @extend .iconButton__chevron;
      @extend .icon--chevron--down;
      
      bottom: 0;
      left: 50%;
      transform:translate(-50%, 0);
    }

     &--up {
      @extend .iconButton__chevron;
      @extend .icon--chevron--up;
      
      top: 6px;
      left: 30px;
      transform:translate(-50%, 0);

      @media (min-width:$phablet){
        top:5px;
      }
    }

    &--right {
      @extend .iconButton__chevron;
      @extend .icon--chevron--right;
      
      top: 50%;
      right: -2px;
      transform:translate(0, -50%);
    }

    &--left {
      @extend .iconButton__chevron;
      @extend .icon--chevron--left;
      
      top: 50%;
      left:0px;
      transform:translate(0, -50%);

      @media (min-width:$phablet){
        left:2px;
      }
    }

    
  }
}