.button {
  width: $tablet / 6;
  height: $tablet / 6;

  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: $gutter;

  &__bg,
  // &__bg:after,
  {
    @extend .icon;
    @extend .icon-hex-fill;
    @extend .element-full;
    mix-blend-mode: normal;
    opacity:0.85;
  }

  &__text {
    @extend .buttonText;
    color:#fff;
    position:relative;
    top:2px;
  }

  &__icon {
    position:absolute;
    transition:all 0.2s ease-out;
    opacity:0;
    isolate:isolate;

    &--down {
      bottom: $gutter;
      left: 50%;
      transform:translate(-50%, 0);
    }

    &--right {
      top: 50%;
      right: $gutter / 1.5;
      transform:translate(0, -50%);
    }
  }

  &:hover,
  &:active,
  a:active &,
  button:active & {
    text-decoration: none;

    .button__bg {
      @extend .icon-hex-fill--white;
    }

    .button__text {
      color:$black;
    }

    .button__icon {
      opacity: 1;
      &--down {
        bottom:-($gutter);
      }

      &--right {
        right:-($gutter / 1.5);
      }
    }
  }
}
