.button__container {
  position:relative;
  width:48px;
  height:48px;

  // &--l {
  //   position:relative;
  //   width:96px;
  //   height:82px;
  // }

  &--xl {
    position:relative;
    width:170px;
    height:200px;
  }

  .button--hexFill {
    @extend .absolute--fill;
    display:flex;
  }
}

.button--hexFill {
  // width: $tablet / 6;
  // height: $tablet / 6;
  @extend .absolute--fill;

  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: $gutter;
  position:relative;

  &__bg {
    @extend .icon--hex--fill;
    @extend .absolute--fill;
    // mix-blend-mode: overlay;
    opacity:0.85;
  }

  &__text {
    @extend .buttonText;
    color:$white;
    position:relative;
    top:2px;
    max-width:50%;
  }

  &.button--white {
    .button--hexFill__bg {
      @extend .icon--hex--fill--white;
      @extend .absolute--fill;
      opacity:0.5;
    }

    .button--hexFill__text {
      color:$black;
    }
  }

  &__icon {
    position:absolute;
    transition:all 0.2s ease-out;
    opacity:0;

    &--down {
      bottom: $gutter;
      left: 50%;
      transform:translate(-50%, 0);
    }

    &--right {
      top: 50%;
      right: $gutter / 1.5;
      transform:translate(0, -50%);
    }

    &--left {
      top: 50%;
      left: $gutter / 1.5;
      transform:translate(0, -50%);
    }
  }

  &:hover,
  &:active,
  a:active &,
  button:active & {
    text-decoration: none;

    .button--hexFill__bg {
      @extend .absolute--fill;
      @extend .icon--hex--fill--white;
      opacity:0.8;
    }

    .button--hexFill__text {
      color:$black;
    }

    .button--hexFill__icon {
      opacity: 1;
      &--down {
        bottom:-($gutter);
      }

      &--right {
        right:-($gutter / 1.5);
      }
    }
  }
}

.button--hexLogo {
  width:48px;
  height:48px;

  display:flex;
  justify-content: space-between;
  align-items: center;

  // padding: $gutter;
  position:relative;

  &__bg {
    @extend .icon;
    @extend .icon--hex--logo;
    @extend .absolute--fill;
    overflow:visible;
    // mix-blend-mode: normal;
    // opacity:0.85;
  }

  &__icon {
    position:absolute;
    transition:all 0.2s ease-out;
    opacity:1;

    &--up {
      top:-17px;
      left: 50%;
      transform:translate(-50%, 0);

      @media (min-width:$phablet) {
        // top: -14px;
      }
    }

    &--left {
      top:50%;
      left: -17px;
      transform:translate(0, -50%);

      @media (min-width:$phablet) {
        // top: -14px;
      }
    }
  }

  &:hover,
  &:active,
  a:active &,
  button:active & {
    text-decoration: none;

    .button--hexFill__icon {
      opacity: 1;
      &--up {
        top:0;
      }
    }
  }
}
