.project {

  &__list {
    justify-content: flex-start;

    &__nav {
      max-width:320px;
      width:100%;

      @media (min-width:$phablet){
        flex: 0 1 320px;
        width:auto;
        margin:0;
      }

      align-self: center;

      &.hiddenMobile {
        @media (max-width:$phablet - 1) {
          display:none;
        }
      }
    }
  }

  &__single {

  }

  &__nav {

    
  }
}