.project {

  &__list {
    width:100%;

    @media (min-width:$phablet) {
      max-width:320px;
      flex:1 0 290px;
    }

    &.hiddenMobile {
      @media (max-width:$phablet - 1) {
        display:none;
      }
    }

    &__nav {
      width:100%;
      max-width:320px;
      flex:1 0 290px;
      margin:0 auto;
      align-self: center;

      @media (min-width:$phablet){
        flex: 0 1 320px;
        width:auto;
        margin:0;
      }

      &__single {
        flex:2 0;

      }
    }
  }
}