.about {
  
  &__content {

    transition:0.6s 0.8s all ease-out;
    opacity:1;
    transform: translate3d(0, 0, 0);
  }

  &.loading &__content {
    opacity:0;
    transform:translate3d(0, 2px, 0);
  }

  &__nav__btn {
    display:inline-block;
    transition:all 0.6s ease-out;

    &--projects {
      display:inline-block;
      right:$gutter;
      top:50%;

      @media (max-width: $tablet) and (orientation: portrait) {
        top:auto;
        bottom:25vw;
      }
    }
  }

  &.loading .nav__btn {
    &--projects { transform:translate(250px, -50%); }
  }
}
