.template--home {

  &__main {
    position:relative;
  }

  &__content {
    .icon-logo {
      margin-right: 5px;
      margin-top:8px;
    }

    @media (orientation: portrait){
      max-width:220px;

      .subtitle {
        max-width:162px;
      }
    }

    @media (orientation: landscape){

      display:flex;

      .subtitle { text-align: center;}
    }

    @media(min-width: $tablet) {
      padding-top:70px;
    }
  }

  &__nav {

  }

  &__btn--about {
    position:absolute;
    bottom:$gutter;
    left:50%;
    transform:translate(-50%, 0);
  }

  &__btn--projects {
    position:absolute;
    right:$gutter;
    top:50%;
    transform:translate(0, -50%);
  }

  &__image {
    .image__bg {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
}
