$headerDepth: 50px;
$collapsedDepth: 14px;
$animationInitial: $headerDepth - $collapsedDepth;

@mixin headerFill {
  content:"";
  z-index:0;
  background: $white;
  opacity: 0.5;

  position:absolute;
  width:100%;
  height:100%;

  -webkit-backface-visibility:hidden;
  transform: translate3d(0, 0, 0);
  transition:all .4s ease-out; 
}

.header {
  position: relative;
  width:100%;
  height: $headerDepth;
  // z-index:1;
  display:flex;
  align-items:center;

  @media (max-width: $phablet - 1){
    &:before {
      @include headerFill;
    }
  }

  &__title {
    // position:relative;
    @include absoluteFill;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin:0;
    flex:1;
    padding:0 70px;

    @media (min-width:$phablet) {
      text-align:left;
      justify-content: flex-start;
      padding-left:$gutter;
    }
  }

  &__btn {
    flex-shrink:0;
    z-index:1;
  }

  // .button {
  //   position:relative;
  //   display:inline-block;
  //   z-index:1;
  //   width:$headerDepth;
  //   height:$headerDepth;
  //   display:flex;
  //   align-items: center;
  //   justify-content: center;
  //   align-self: flex-start;

  //   .iconButton {
  //     // flex:0 0;
  //     @include absoluteCenter;
  //   }

  //   // Header with no title
  //   &:last-child {
  //     width:100%;
  //     height:100%;
  //   }

  //   @media (min-width:$phablet) {
  //     &:before {
  //       @include headerFill;
  //     }

  //     &:before {
  //       transform: translate3d(0, -($animationInitial), 0);
  //     }

  //     &:hover {
  //       &:before {
  //         transform: translate3d(0, 0, 0);
  //       }
  //     }
  //   }
  // }

  &--hideButtonDesktop {
    @media (min-width: $phablet) {
      .button {
        display:none;
      }
    }
  }

  &--hideTitleDesktop {
    @media (min-width: $phablet) {
      .header__title {
        display:none;
      }
    }
  }
}
