$headerDepth: 74px;
$headerDepthDesktop: 74px;
$collapsedDepth: 6px;
$animationInitial: $headerDepthDesktop - $collapsedDepth;

.header {
  position: relative;
  display:flex;
  align-items: stretch;
  justify-content: center;
  z-index:1;

  &:before {
    content:"";
    @extend .absolute--fill;
    background: $white;
    opacity: 0.5;

    -webkit-backface-visibility:hidden;
    // transform: translate3d(0, 0, 0);
    transition:all .4s ease-out;
  }

  .button--hexLogo {
    transform: translate3d(0, 0, 0);
    transition:all .4s ease-out;
  }

  &--top {
    height: $headerDepth;
    .button--hexLogo {
      top:17px;
    }
  }
  @media (min-width:$phablet) {
    &--top {
      height: $headerDepthDesktop;

      .button--hexLogo {
        top:20px;
      }

      &:before {
        transform: translate3d(0, -($animationInitial), 0);
        opacity:0.8;
      }

      &:hover {
        &:before {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  &--left {
    width: 100%;
    height:$headerDepthDesktop;
    justify-content:space-between;

    .header__link--fill {
      justify-content: flex-start;
      align-items: center;
    }

    .button--hexLogo {
      top:3px;
    }

    @media (min-width:$phablet) {
      width:$headerDepthDesktop;
      height:100vh;

      &:before {
        transform: translate3d(-($animationInitial), 0, 0);
        // transform: translate3d( -($animationInitial), 0 0);
      }

      &:hover:before {
        // width: $headerDepthDesktop;
        transform: translate3d(0, 0, 0);
      }

    }
    .button--hexLogo {
      left:18px;
      top:-2px;
    }
  }
}

.header__link {
  display:inline-block;

  &--fill {
    @extend .absolute--fill;
    display:flex;
    align-items: flex-start;
    justify-content:center;

    &:hover {
      
    }
  }
}
