@font-face {
    font-family: 'BebasNeue';
    src: url('/_www/assets/fonts/bebas/bebasneue_regular-webfont.woff2') format('woff2'),
         url('/_www/assets/fonts/bebas/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('/_www/assets/fonts/bebas/bebasneue_book-webfont.woff2') format('woff2'),
         url('/_www/assets/fonts/bebas/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
