$gutter: 18px;
$phablet: 680px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width:100%;
  height:auto;
}

@mixin gridContainer {
  width:100%;
  margin:0 auto;
  position:relative;

  @media (min-width:$tablet) {
    max-width:640px + ($gutter * 4);
  }

  @media (min-width:$desktop) {
    max-width:$tablet + ($gutter * 4);
  }

  @media (min-width:$desktopXL) {
    max-width:$desktop + ($gutter * 2);
  }
}

@function colWidth($numCols) {
  @return (100 / 12) * $numCols;
}

@mixin gridCol($numCols) {
  width: colWidth($numCols) * 1%;
}

.absolute--center {
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.absolute--fill {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

@mixin absoluteFill {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

@mixin absoluteCenter {
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

#app {
  background:#fff;
  position:relative;
  @extend .absolute--fill;
}

@mixin grid {
  display:flex;
  align-items: stretch;
  flex:1;
}

.grid {
  @include grid;

  &--fill {
    @extend .absolute--fill;
    @include grid;
    overflow:hidden;
  }
  
  &--container {
    @include gridContainer;
  }

  &--padding {
    padding:$gutter;
  }

  &--row {
    @include grid;
    flex-direction:row;

    &--desktop {
      @media (min-width:$phablet){
        @include grid;
        flex-direction:row!important;
      }
    }
  }

  &--col {
    @include grid;
    flex-direction:column;

    @media(max-width: $phablet - 1){
      flex:1 0 100%;
    }
    
    &--desktop {
      @media (min-width:$phablet){
        @include grid;
        flex-direction:column!important;
      }
    }
  }
}