.icon {
  display: inline-block;
  vertical-align: middle;
  position:relative;
  border:none;
  outline:none;

  width: 24px;
  height: 24px;
  
  &:before {
    content:"";
    @include absoluteFill;
    background-color:transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
  }
}

.icon--hexLogo {
  &:before {
    background-image:url('../assets/svg/hex-logo.svg');
  }
  
  &--white {
    &:before {
      background-image:url('../assets/svg/hex-logo.svg?fill=#FFFFFF');
    }
  }
}

.icon--hexFill {
  &:before {
    background-image:url('../assets/svg/hex-fill.svg');
  }

  &--white {
    &:before {
      background-image:url('../assets/svg/hex-fill.svg?fill=#FFFFFF');
    }
  }
}

.icon--chevron {
  width:18px;
  height:8px;
  
  &:before {
    background-image:url('../assets/svg/chevron-down.svg');
  }

  &--white {
    @extend .icon--chevron;
    &:before {
      background-image:url("../assets/svg/chevron-down.svg?fill=#FFFFFF");
    }
  }

  &--down {
    @extend .icon--chevron;
  }

  &--up {
    @extend .icon--chevron;
    &:before {
      transform: rotate(180deg);
    }
  }

  &--right {
    @extend .icon--chevron;
    &:before {
      transform: rotate(270deg);
    }
  }

  &--left {
    @extend .icon--chevron;
    &:before {
      transform: rotate(90deg);
    }
  }
}

.icon--github {
  &:before {
    background-image:url('../assets/svg/github.svg');
  }

  &--white {
    &:before {
      background-image:url('../assets/svg/github.svg?fill=#FFFFFF');
    }
  }
}

.icon--linkedin {
  &:before {
    background-image:url('../assets/svg/linkedin.svg');
  }

  &--white {
    &:before {
      background-image:url('../assets/svg/linkedin.svg?fill=#FFFFFF');
    }
  }
}

.icon--email {
  &:before {
    background-image:url('../assets/svg/email.svg');
  }

  &--white {
    &:before {
      background-image:url('../assets/svg/email.svg?fill=#FFFFFF');
    }
  }
}
