.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center center;
  width: 24px;
  height: 24px;
  position:relative;
  background-color:transparent;
  border:none;
  outline:none;

  &--large {
    width:62px;
    height:62px;
  }
}

.icon-hex-logo {
  @extend .icon;
  background-image:url('../assets/svg/hex-logo.svg?nofill');
}

.icon-hex-fill {
  @extend .icon;
  background-image:url('../assets/svg/hex-fill.svg?nofill');

  &--white {
    background-image:url('../assets/svg/hex-fill.svg?fill=white');
  }
}

.icon-chevron {
  @extend .icon;
  background-image:url('../assets/svg/chevron-down.svg?nofill');
  width:18px;
  height:9px;

  &--white {
    background-image:url("../assets/svg/chevron-down.svg?fill=white");
  }

  &--up {
    transform: rotate(180deg);
  }

  &--right {
    transform: rotate(270deg);
  }
}
