<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=meta.title%></title>
    <meta name="description" content="<%=meta.desc%>">
  </head>
  <body>
    <%=meta.title%>
    <%=meta.desc%>
  </body>
  <script type="text/javascript" src="/public/js/bundle.js"></script>
  <script id="__bs_script__">
    //<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
    //]]>
  </script>
</html>
